@foreach (var vendor in @Model)
{
    foreach (var item in @vendor.Products)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center col-md-12">
            <div id="@item.Id" class="row justify-content-md-center">
                <div class="col-md-4">@item.Title</div>
                <div class="col-md-2">@(@item.InStock ? "In stock" : "Out of stock")</div>
                <div class="col-md-3">@item.Price @item.Currency</div>
                <div class="col-md-3">
                    <img src="@item.ImageUrl" height="50" width="50"/>
                </div>
            </div>
        </li>
    }
}