@foreach (var vendor in @Model)
{
    foreach (var item in @vendor.Products)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @item.Title
        </li>

        @*<div id="@item.Id">
            <img src="@item.ImageUrl" width="200" height="200" />
            <p>@item.Title</p>
            <p>@item.InStock</p>
            <p>@item.Brand</p>
            <p>@item.Price @item.Currency</p>
        </div>*@

    }
}