@foreach(var recipe in @Model)
{
    <figure class="recipelisting" id="@recipe.Id" onclick="LoadRecipe(@recipe.Id)">
        <img src="@recipe.Image" />
         <figcaption>
             <div>@recipe.Name</div>
             <div>Servings: @recipe.Servings</div>
             <div>PrepTime: @recipe.PrepTime</div>
         </figcaption>
    </figure>
}