@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Hello React</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="@Url.Content("~/Scripts/Autocomplete.js")"></script>
    <script src="@Url.Content("~/Scripts/RecipeListing.js")"></script>
    <script src="@Url.Content("~/Scripts/RecipeDetails.js")"></script>
    <link href="@Url.Content("~/CSS/Autocomplete.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/RecipeListings.css")" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    @*<div id="autocomplete">
        Search: <input type="text" id="search">
        <div id="selectedIngredients">

        </div>
    </div>*@

    <div class="search-container" id="autocomplete">
        <input type="text"  id="search"  placeholder="Cauta ingrediente">
        <div id="selectedIngredients"></div>
        </div>


    <div id="recipes">
    </div>

    <div id="recipe">
    </div>

    <input type="hidden" id="page" value="0"/>
</body>
</html>